.bt8-3 .header3 {
    background: #e7f1f8;
    padding: 30px;
    text-align: center;
    color: #000;
}

.bt8-3 .title-login::after {
    margin: 10px auto;
    content: '';
    border-top: 3px solid #14a58c;
    width: 50px;
    display: block;
    padding: 30px;
}

.bt8-3 .part3{
    text-align: center;
    background: #e7f1f8;
    border: 1px solid #e7f1f8;
}
.bt8-3 .not-account {
   
    display: inline-block;
    margin: 0px 379px;
    padding: -10px 25px 25px 25px;
    padding: 25px;
}
.bt8-3 .row{
    margin: 10px 60px;
    background: #e7f1f8;
}
.bt8-3 .card-body img{
    padding-bottom: 30px;
}
.bt8-3 .card-text{
    padding: 20px;
}
.bt8-3 .card-body{
    background: #e7f1f8;
    height: 570px;
}
